<nav>
  <ul>
    <li class="logo">
      <a aria-label="cancel" href="/playlist/discover"></a>
    </li>
    <li class="profile">
      <a aria-label="accept" href="/users/profile"></a>
    </li>
  </ul>
</nav>