<nav>
    <ul>
        <li class="nav-home"><a href="/playlist/discover"><i class="bi bi-disc"></i></a></li>
        <li class="nav-profile"><a href="/users/profile"><i class="bi bi-person"></i></a></li>
    </ul>
</nav>