<div class="centered-block conf-art-block">
    <h2>Confirm Artist</h2>
    <ul>
        <li><a href="">Artist Name</a></li>
        <li><a href="">Artist Name</a></li>
        <li><a href="">Artist Name</a></li>
        <li><a href="">Artist Name</a></li>
        <li><a href="">Artist Name</a></li>
    </ul>
</div>
{{> navbar}}