<div class="centered-block conf-art-block">
    <h2>Confirm Artist</h2>
    <div>
        <ul>
        {{#each artists}}
            <li class="art-list-item">
                <form action="/playlist/create/{{this.id}}" method="POST">
                <button>{{this.name}}</button>
                </form>
            </li>
        {{/each}}
        </ul>
    </div>

    <h2>Not what you are looking for?<br>Try again</h2>
    <form action="/playlist/artist-confirmation/" method="get">
                <label for="artist"></label>
                <input required type="text" name="artist" placeholder="Search again" class="form-fields"/>
                <br>
                <button type="submit">Search</button>
    </form>
</div>
{{> navbar}}
