<div class="centered-block">
        <img src="/images/create.png" class="discover-hero">
        <h2>De puta madre!</h2>
        <p>Podrás es cuchar esto hasta que te sangren los oídos</p>
        <form action="/discover/{{_id}}" method="post">
                <label for="artist"></label>
                <input required type="text" name="artist" placeholder="Choose a name for your playlist" class="form-fields"/>
                <br>
                <button type="submit">Create</button>
        </form>
</div>



