<h1> Hello {{name}} Welcome to Duga!</h1>

<p>Think about an artist you like to create a playlist of 5 songs of related music. </p>
<br>

<form action="/playlist/discover/" method="get">

        
        <label for="artist"></label>
        <input required type="text" name="artist" placeholder="Artist Name"/>
        <br>
        <button type="submit">Search</button>

   
</form>

<a href="/users/discover">Discover</a>
<br>
<a href="/users/profile">Profile</a>

