<p> Hello {{user.name}} welcome to Duga!</p>

<p>Think about an artist you like to create a playlist of 5 songs of related music. </p>
<br>

<form action="/discover/{{_id}}" method="post">

        
        <label for="artist"></label>
        <input required type="text" name="artist" placeholder="Artist Name"/>
        <br>
        <button type="submit">Search</button>

   
</form>

<a href="/users/discover">Discover</a>
<br>
<a href="/users/profile">Profile</a>

