<div class="centered-block">
        <div class="discover-hero">
                <img src="/images/discover.png" />
        </div>
        <div>
                <h2>Discover New Music</h2>
                <p>Just type any artist you like and we will give you a list of tunes we think you may like</p>
                <form autocomplete="off" action="/playlist/artist-confirmation/" method="get">
                        <label for="artist"></label>
                        <input autocomplete="false" required type="text" name="artist" placeholder="Choose an artist" class="form-fields"/>
                        <br>
                        <button type="submit">Search</button>
                </form>
        </div>
</div>
<nav>
    <ul>
        <li class="nav-home"><a href="/playlist/discover"><i class="bi bi-disc-fill"></i></a></li>
        <li class="nav-profile"><a href="/users/profile"><i class="bi bi-person"></i></a></li>
    </ul>
</nav>



