{{> navbar}}
<div class="container">
  <div class="wrapper">
    <div class="illustration-wrapper">
      <img src="/images/illustrations/discover.png" alt="" />
    </div>
    <div class="text-wrapper">
      <h2 class="title">Discover New Music</h2>
      <p class="tagline">
        Type an artist, <br />
        we'll give you a list of songs
        you'll love
      </p>
    </div>
    <form autocomplete="off" action="/playlist/artist-confirmation/" method="get">
      <div class="input-wrapper">
        <label for="artist"></label>
        <input autocomplete="false" required type="text" name="artist" placeholder="Choose an artist"
          class="form-fields" />
      </div>
      <button type="submit">Search</button>
    </form>
  </div>
</div>