<div class="centered-block">
    <label class="toggle-theme">
        <input type="checkbox" />
        <span class="switch"></span>
        <p>Light</p>
        <p>Dark</p>
    </label>
     <div>
        <h2>Settings</h2>
        <p>Just type any artist you like and we will give you a list of tunes we think you may like</p>
    </div>
    <div class="tagline">
        <p>Version 1.0</p>
    </div>
</div>
{{> navbar}}