<div class="centered-block">
    <div>
        <p>Go Back</p>
    </div>
    <div>
        <h2>Settings</h2>
    </div>
    <div class="edit-profile-header"> 
        <div class="edit-profile-picture">
            <img src="{{avatarUrl}}">
            <form action="/users/signup" method="post">
            <button class="pic-button" type="submit">Change picture</button>
        </form>
        </div>
    </div>
    <form autocomplete="off" action="/users/signup" method="post">
       <label for="name"></label>
       <input autocomplete="false" required type="text" name="name" placeholder="New Username" class="form-fields"/>
       <button type="submit">Change</button>
       <p class="edit-profile ">This can be your own name or a nickname. Is how you will appear on Duga.</p>
    </form>
        <label class="toggle-theme">
        <input type="checkbox" />
        <span class="switch"></span>
        <p></p>
        <p></p>
        </label>
    <div class="profile-tagline">
        <p>Version 1.0</p>
    </div>
</div>
{{> navbar}}