<div class="goback">
    <p><a href="/users/profile"><i class="bi bi-x"></i></a></p>
</div>
<div class="centered-block edit-profile-block">
    <div>
        <h2>Edit profile</h2>
    </div>
    <div class="edit-profile-header"> 
        <div class="edit-profile-picture">
            <img src="{{avatarUrl}}">
            <form action="/users/signup" method="post">
            <button class="pic-button" type="submit">Update picture</button>
        </form>
        </div>
    </div>
    <form autocomplete="off" action="/users/edit-profile" method="post">
       <label for="name"></label>
       <input autocomplete="false" required type="text" name="name" value="{{currentName}}" class="form-fields"/>
       <button type="submit">Change Name</button>
       <p class="edit-profile ">This can be your own name or a nickname. Is how you will appear on Duga.</p>
    </form>
        {{!-- <label class="toggle-theme">
        <input type="checkbox" />
        <span class="switch"></span>
        <p></p>
        <p></p>
        </label> --}}
    <div class="profile-tagline">
        <p>Version 1.0</p>
    </div>
</div>
<nav>
    <ul>
        <li class="nav-home"><a href="/playlist/discover"><i class="bi bi-house"></i></a></li>
        <li class="nav-profile"><a href="/users/profile"><i class="bi bi-person-fill"></i></a></li>
    </ul>
</nav>