{{> navbar}}
<div class="container">
  <div class="wrapper">
    <a class="close" href="/users/profile">
      <img src="/images/svg/close.svg" alt="close" />
    </a>
    <div class="illustration-wrapper">
      <img src="/images/illustrations/edit.png" alt="" />
    </div>
    <div class="text-wrapper">
      <h2 class="title">Edit profile</h2>

    </div>
    <form autocomplete="off" action="/users/edit-profile" method="post">
      <label for="name"></label>
      <input autocomplete="false" required type="text" name="name" value="{{currentName}}" class="form-fields" />
      <button type="submit">Change Name</button>
      <p class="tagline">This can be your own name or a nickname.</p>
    </form>
    <a class="logout" href="/users/logout/">
      Logout
      <img src="/images/svg/logout.svg" alt="close" />
    </a>
  </div>
</div>