{{> navbar}}
<div class="container">
    <div class="wrapper">
        <div class="illustration-wrapper">
            <img src="/images/illustrations/error.png" alt="" />
        </div>
        <h2>{{message}}</h2>
        <p class="tagline">We’d probably get results if you try again.</p>
        <a class="btn-wrapper" href="/playlist/discover/"><button type="submit">Search Again</button></a>
    </div>
</div>