<div class="container container--splash">
  <div class="wrapper wrapper--splash">
    <div class="splash-main">
      <img class="logo-splash" src="/images/svg/duga-logo.svg" alt="duga logo" />
      <img src="/images/svg/claim.svg" alt="duga logo" />
    </div>
    <a href="/playlist/discover">
      <button>Let's Go!</button>
    </a>
  </div>
  <img class="splash-spotify" src="/images/svg/spotify.svg" />
</div>