{{!-- <h1>{{title}}</h1>
<p>Welcome to Duga {{title}}</p> --}}

<div class="centered-block">

    <h2>Duga</h2>
    <p>Search. Swipe. Enjoy.</p>

</div>
<img src="/images/splash.png" class="splash-hero" />