<div class="centered-block splash">
    <div class="discover-hero">
        <img src="/images/logo.png" />
    </div>
    <h2>Search. Swipe. Enjoy.</h2>
    <a href="/users/login"><button class="splash-button">Let's Go!</button></a>
    <div class="tagline">
        <p style="color: var(--accent-color); margin-bottom:20px;">Powered by</p>
        <img src="/images/spotify.png" />
    </div>
</div>
