<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  </head>
  <body>
    {{{body}}}
    <script>
      function showPass(){
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#id_password');
        console.log("showPass")
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye / eye slash icon
        togglePassword.classList.toggle('bi-eye');
      }
      
      const toggle = document.querySelector('.toggle-theme input[type="checkbox"]');

      function toggleTheme(event) {
        if (event.target.checked) {
          document.body.className = 'dark-theme';
        } else {
          document.body.className = '';
        }
      }

      toggle.addEventListener('change', toggleTheme); 

    </script>
  </body>
</html>
