<div class="centered-block">
        <h2>Welcome Back</h2>
        <form autocomplete="off" action="/users/login" method="post">
        <label for="email"></label>
        <input autocomplete="false" required type="email" name="email" placeholder="Email Address" class="form-fields">
      
                <label for="password"></label>
                <input required type="password" name="password" autocomplete="current-password" placeholder="Password" class="form-fields" id="id_password">
                <i class="bi bi-eye-slash" id="togglePassword" onclick="showPass()"></i>
      <div class="centered-block">
        <button type="submit">Login</button>
      </div>
        </form>
</div>
<div class="tagline">
        <p>Don’t have an account? <a href="/users/signup">Sign Up</a></p>
</div>
