<div class="container container--full">
  <div class="wrapper">
    <div class="illustration-wrapper">
      <img src="/images/illustrations/welcome.png" alt="" />
    </div>
    <h2>Welcome back</h2>
    <form autocomplete="off" action="/users/login" method="post">
      <label for="email"></label>
      <input required type="email" name="email" placeholder="Email" />
      <div class="input-password">
        <label for="password"></label>
        <input
          required
          type="password"
          name="password"
          placeholder="Password"
          id="id_password"
        />
        <i class="bi bi-eye-slash" id="togglePassword" onclick="showPass()"></i>
      </div>
      <button type="submit">Login</button>
      <p class="tagline">
        Don’t have an account?
        <a href="/users/signup">Sign Up</a>
      </p>
    </form>
  </div>
</div>