<h1> Welcome to Duga</h1>

<h2> Ready to discober new songs?</h2>

<form action="/users/login" method="post">

    
        <label for="email">Email:</label>
        <input required type="email" name="email" placeholder="email@gmail.com">

        <label for="password">Password:</label>
        <input required type="password" name="password"/>

        <button type="submit">Login</button>

</form>

<h3>Still not a Member?</h3>
<a href="/users/signup">SIGN UP</a>