<div class="playlists">
    <h4>Playlists</h4>
    <div class="playlist-item">
        <p>Playlist Name</p>
        <p>Based on: </p>
    </div>
    <div class="playlist-item">
        <p>Playlist Name</p>
        <p>Based on: </p>
    </div>
    <div class="playlist-item">
        <p>Playlist Name</p>
        <p>Based on: </p>
    </div>
    <div class="playlist-item">
        <p>Playlist Name</p>
        <p>Based on: </p>
    </div>
</div>