<div class="goback">
    <p><a href="/users/profile"><i class="bi bi-arrow-left-short"></i></a></p>
</div>
<div class="playlists-profile edit-profile-block">
    <h4>{{playlistName}}</h4>
     {{#each playlistTrackInfo}}
    <div class="playlist-item songs-list">
        <img src={{image}}>
        <p>{{name}}<br>
        {{artist}}</p>
        {{!-- <i class="bi bi-play-fill" id="togglePlay"></i> --}}
        {{!-- <i class="bi bi-x" id="toggleDelete"></i></span></p> --}}
    </div>
    {{/each}}
</div>
{{> navbar}}