<div class="playlists">
    <h4>Playlist</h4>
    <div class="playlist-item">
        <img src="/public/images/splash.png">
        <p>Song Name<span>
        <i class="bi bi-play-fill" id="togglePlay"></i>
        <i class="bi bi-x" id="toggleDelete"></i></span></p>
    </div>
    <div class="playlist-item">
        <img src="/public/images/splash.png">
        <p>Song Name<span>
        <i class="bi bi-play-fill" id="togglePlay"></i>
        <i class="bi bi-x" id="toggleDelete"></i></span></p>
    </div>
    <div class="playlist-item">
        <img src="/public/images/splash.png">
        <p>Song Name<span>
        <i class="bi bi-play-fill" id="togglePlay"></i>
        <i class="bi bi-x" id="toggleDelete"></i></span></p>
    </div>
    <div class="playlist-item">
        <img src="/public/images/splash.png">
        <p>Song Name<span>
        <i class="bi bi-play-fill" id="togglePlay"></i>
        <i class="bi bi-x" id="toggleDelete"></i></span></p>
    </div>
    <div class="playlist-item">
        <img src="/public/images/splash.png">
        <p>Song Name<span>
        <i class="bi bi-play-fill" id="togglePlay"></i>
        <i class="bi bi-x" id="toggleDelete"></i></span></p>
    </div>
</div>

{{> navbar}}