<div class="playlists-profile">
    <h4>{{playlistName}}</h4>
     {{#each playlistTrackInfo}}
    <div class="playlist-item">
        <img src={{image}}>
        <p>{{name}}</p>
        <p>{{artist}}</p>
        {{!-- <i class="bi bi-play-fill" id="togglePlay"></i> --}}
        {{!-- <i class="bi bi-x" id="toggleDelete"></i></span></p> --}}
    </div>
    {{/each}}
</div>
{{> navbar}}