<h1>Profile</h1>
<div class="profile-header"> 
    <div class="profile-picture">
        <img src="{{avatarUrl}}">
    </div> 
    <div class="user-info">

        <h3>{{foundUser.name}}</h3>
        <p>{{foundUser.email}}</p>
        <p>Edit</p>

    </div>
</div>

<div class="playlists">
    <div class="playlist-title">
        <h4>Playlists</h4>
    </div>


    <div id="content">
    
    <div class="playlist-item">
    {{#each foundUser.favouriteplaylists}}
        <p>{{name}}</p>
        <i class="bi bi-x" id="toggleDelete"></i>
    </div>
    {{/each}}


</div>
<nav>
    <ul>
        <li class="nav-home"><a href="/playlist/discover"><i class="bi bi-house"></i></a></li>
        <li class="nav-profile"><a href="/users/profile"><i class="bi bi-person-fill"></i></a></li>
    </ul>
</nav>





