<h1>Profile</h1>
<div class="profile-header"> 
    <div class="profile-picture">
        <img src="{{avatarUrl}}">
    </div> 
    <div class="user-info">
        <h3>{{name}}</h3>
        <p>{{email}}</p>
        <a href="/users/logout">Logout</a>
    </div>
</div>
<div class="playlists">
    <div class="playlist-title">
        <h4>Playlists</h4>
    </div>
    <div class="playlist-item">
        <p>Playlist Name<span><i class="bi bi-play-fill" id="togglePlay"></i>
        <i class="bi bi-x" id="toggleDelete"></i></span>
        </p>
    </div>
    <div class="playlist-item">
        <p>Playlist Name<span><i class="bi bi-play-fill" id="togglePlay"></i>
        <i class="bi bi-x" id="toggleDelete"></i></span>
        </p>
    </div>
    <div class="playlist-item">
        <p>Playlist Name<span><i class="bi bi-play-fill" id="togglePlay"></i>
        <i class="bi bi-x" id="toggleDelete"></i></span>
        </p>
    </div>
    <div class="playlist-item">
        <p>Playlist Name<span><i class="bi bi-play-fill" id="togglePlay"></i>
        <i class="bi bi-x" id="toggleDelete"></i></span>
        </p>
    </div>
    <div class="playlist-item">
        <p>Playlist Name<span><i class="bi bi-play-fill" id="togglePlay"></i>
        <i class="bi bi-x" id="toggleDelete"></i></span>
        </p>
    </div>
    <div class="playlist-item">
        <p>Playlist Name<span><i class="bi bi-play-fill" id="togglePlay"></i>
        <i class="bi bi-x" id="toggleDelete"></i></span>
        </p>
    </div>
    <div class="playlist-item">
        <p>Playlist Name<span><i class="bi bi-play-fill" id="togglePlay"></i>
        <i class="bi bi-x" id="toggleDelete"></i></span>
        </p>
    </div>
    <div class="playlist-item">
        <p>Playlist Name<span><i class="bi bi-play-fill" id="togglePlay"></i>
        <i class="bi bi-x" id="toggleDelete"></i></span>
        </p>
    </div>
</div>

{{> navbar}}





