<h1>Profile</h1>

<div>
    <img src="{{avatarUrl}}" alt="{{name}}">
    <input type="file" name="imgUrl" />
    <button type="submit">Save picture</button>
    
</div>

<div>
{{name}} 
<br>
{{email}} 
</div>



<a href="/users/logout">LOGOUT</a>
<br>
<a href="/users/discover">Discover</a>
<br>
<a href="/users/profile">Profile</a>




