<div class="centered-block">
    <h3>Now playing</h3>

    <div class="tune">
        <img src="https://via.placeholder.com/322">
        <div class="player">

        </div>
        <h2>Song Title</h2>
        <p>Artist Name</p>
        <div class="swipe-buttons">
            <a href=""><i class="bi bi-x-circle"></i></a>
            <a href=""><i class="bi bi-check-circle"></i></a>
        </div>
    </div>
</div>
{{> navbar}}





