@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #1b1e28;
  --form-field-bg: #2c2f3e;
  --form-text-color: #707790;
  --accent-color: #16a7ff;
}

html {
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300 !important;
  background-color: var(--main-bg-color);
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 10vw;
  padding-bottom: 10vw;
  color: #ffffff;
  margin: 0;
}

p {
  font-size: 2.3rem;
}

a {
  color: var(--accent-color);
}

h1 {
  font-weight: 400 !important;
  font-size: 4.5rem;
  margin-bottom: 30px;
}

h2 {
  font-weight: 500 !important;
  font-size: 4rem;
  margin-top: 0;
}

h3 {
  font-weight: 300 !important;
}

h4 {
  font-weight: 400 !important;
}

button {
  background-color: var(--accent-color);
  color: #ffffff;
  border: none;
  border-radius: 16px;
  width: 100%;
  height: 7vh;
  font-size: 3rem;
  margin-top: 1vh;
}

/* Navbar */

nav {
  position: fixed;
  bottom: 0px;
  background-color: var(--main-bg-color);
  border-top: 1px solid var(--form-text-color);
  width: 100%;
  left: 0 !important;
  height: 10vh;
}

nav ul {
  text-decoration: none;
  padding-left: 25px;
}

nav ul li {
  list-style-type: none;
  text-decoration: none;
  display: inline;
}

.nav-profile {
  float: right;
  padding-right: 25px;
}

/* Formularios */

.form-fields {
  background-color: var(--form-field-bg);
  border: none;
  border-radius: 16px;
  width: 100%;
  height: 7vh;
  margin-bottom: 1.5vh;
}

::placeholder {
  color: var(--form-text-color);
  font-size: 3rem;
  padding-left: 3vw;
}

input[type="email"] {
  color: var(--form-text-color);
  font-size: 3rem;
  padding-left: 3vw;
}

input[type="password"] {
  color: var(--form-text-color);
  font-size: 3rem;
  padding-left: 3vw;
}

input[type="text"] {
  color: var(--form-text-color);
  font-size: 3rem;
  padding-left: 3vw;
}

form i {
  margin-left: -100px;
  cursor: pointer;
  font-size: 50px;
  vertical-align: super;
}

form p {
  margin: 0;
}

/* Formularios */

.tagline {
  position: fixed;
  bottom: 40px !important;
  font-size: 14px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 80vw;
}

.discover-hero {
  top: 2vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.splash {
  background-image: url("");
  bottom: 0px !important;
  width: 100%;
}

.profile-header {
  display: flex;
  margin-bottom: 25px;
}

.playlist-title {
  width: 100%;
  border-top: 1px solid var(--form-text-color);
  border-bottom: 1px solid var(--form-text-color);
}

.playlists {
  width: 100%;
  margin: 0;
}

.playlist-item {
  border-bottom: 1px solid var(--form-field-bg);
  width: 100%;
}

.playlist-item i {
  font-size: 30px;
  margin-top: -10px;
  cursor: pointer;
}

.playlist-item span {
  float: right;
  margin-top: -15px;
}

.user-info {
  margin-left: 10px;
}

.user-info p {
  margin: 0;
}

.user-info h3 {
  margin: 0;
}

.centered-block {
  text-align: center;
  margin-bottom: 10vh;
}

.centered-block img {
  width: auto;
  height: 30vh;
}

.centered-block h2 {
  margin-bottom: 0px;
  font-weight: 500;
}

.centered-block p {
  font-size: 2rem;
  margin-bottom: 3vh;
}

.swipe-buttons {
  margin-top: -20px;
}

.swipe-buttons i {
  font-size: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.conf-art-block ul {
  text-decoration: none;
  padding-left: 0;
}

.conf-art-block ul li {
  list-style-type: none;
  text-decoration: none;
}

.art-list-item {
  padding-top: 3vh;
  padding-bottom: 3vh;
  border-top: 1px solid var(--form-text-color);
  border-bottom: 1px solid var(--form-text-color);
}
