@import url("https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --surface: #fff;
  --bg: #e4e4e7;
  --text: #212121;
  --box: #464646;
  --form-text-color: #949494;
  --form-field-bg: #009ec144;
  --accent-color: #009ec1;
  --shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --inset: inset 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.15);
  --bg-gradient: linear-gradient(
    180deg,
    rgba(0, 102, 125, 0.2) 0%,
    rgba(0, 158, 192, 0.1) 100%
  );
}

.dark-theme {
  --surface: #27272a;
  --bg: #18181b;
  --text: #a1a1aa;
  --form-field-bg: #f5f5f714;
  --shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
  --shadow-inner: inset 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.6);
}

/* my code */

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  transition: background-color 0.15s ease-in 0.4s;
  font-family: "Sarala", sans-serif;
  background-color: var(--surface);
  color: var(--text);
  margin: 0;
  overflow: hidden;
}

p {
  margin-block: 0;
}

a {
  color: var(--accent-color);
}

h1 {
  font-weight: 600 !important;
  font-size: 5rem;
  margin-bottom: 30px;
  margin-top: 20px;
}

h2 {
  margin-block: 0;
}

h3 {
  font-weight: 300 !important;
}

h4 {
  font-weight: 300;
}

.discover-hero {
  margin-block-end: 1rem;
}

/* Forms */

form {
  margin-block-start: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

button {
  font-family: "Sarala";
  font-size: 1.125rem;
  line-height: 120% !important;
  color: #fff;
  padding: 0.75rem 1.5rem;
  background-color: var(--accent-color);
  border: none;
  border-radius: 500px;
  width: fit-content;
  cursor: pointer;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-password {
  position: relative;
  width: 100%;
}

input {
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  margin-inline: 2px;
  width: calc(100% - 4px);
  padding: 12px;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Sarala";
  line-height: 120% !important;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--text);
}

input:focus-visible {
  outline: 2px solid var(--accent-color);
}

::placeholder {
  color: #6f6f6f;
}

form i::before {
  font-size: 1.5rem;
}

form i {
  position: absolute;
  right: 0.75rem;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 50px;
  opacity: 0.6;
}

form p {
  margin: 0;
}

/* Forms */

.tagline {
  margin-block-start: 14px;
  font-size: 1rem;
  color: #6f6f6f;
  text-align: center;
}

.tagline a {
  color: #6f6f6f;
}

.profile-tagline {
  position: fixed;
  bottom: 12dvh;
  font-size: 14px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 80vw;
}

/* Profile */

.profile-box {
  display: flex;
  padding: 1rem;
  background: rgb(0, 102, 125);
  background: linear-gradient(
    180deg,
    rgba(0, 102, 125, 1) 0%,
    rgb(0, 124, 152) 100%
  );
  position: relative;
  border-radius: 6px;
  width: 100%;
  margin-block-end: 2rem;
}

.user-info h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.user-info p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.25rem;
  font-weight: 400;
}

.edit-icon {
  background: url(/images/svg/edit.svg) no-repeat top left;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.edit-profile {
  position: absolute;
  right: 1rem;
  top: 1rem;
  margin-top: 0 !important;
}

.wrapper--playlist {
  padding-block: 0 !important;
}

.playlists-profile {
  width: 100%;
}

.playlists {
  width: 100%;
  margin: 0;
}

.main-title {
  font-size: 1.5rem;
  margin-block-end: 1.125rem;
}

.playlist-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.playlist-list__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.playlist-item {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: white;
  border-radius: 0.25rem;
  padding-inline: 1rem;
}
.playlist-item p {
  flex-grow: 2;
}

.playlist-item a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  font-weight: 400;
  width: 100%;
}

.playlist-item button {
  padding: 0;
}

.trash-icon {
  background: url(/images/svg/trash.svg) no-repeat top left;
  background-size: contain;
  width: 40px;
  height: 40px;
  float: right;
}

.playlists-list {
  justify-content: space-between;
}

.playlist-track__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.playlist-song {
  font-size: 1rem !important;
  font-weight: 700;
  line-height: 120%;
}

.playlist-artist {
  font-size: 1rem !important;
  line-height: 120%;
}

.playlists-list a {
  text-decoration: none;
  color: var(--text);
}

.songs-list p {
  margin-left: 3vw;
}

.playlist-item img {
  width: 4rem;
  border-radius: 6px;
}

.playlist-item form {
  width: fit-content;
}

.playlist-item form i {
  opacity: 1;
}

.playlist-item button {
  background-color: transparent;
  color: var(--accent-color);
  width: fit-content;
  margin-top: 0px;
}

.playlist-item i {
  font-size: 4rem;
  line-height: 2;
  cursor: pointer;
}

.track {
  padding-block: 1rem !important;
}

.btn-back {
  text-decoration: none;
  font-size: 2.5rem;
}

li form {
  margin-block-start: 0;
}

.artists-wrapper {
  border-radius: 6px;
  width: 100%;
  margin-block: 1rem;
  padding-inline: 1rem;
}

.container--artist-list {
  align-items: flex-start !important;
  overflow-y: auto !important;
}

.wrapper--artist-list {
  width: 100%;
}

.artists-list {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.art-list-item {
  list-style: none;
}
.art-list-item form {
  margin-bottom: 0;
}

.art-list-item button {
  color: var(--text);
  border-radius: 0px;
  padding-block: 6px;
  background-color: transparent;
  color: var(--text);
  width: 100%;
  font-size: 1rem;
}
.art-list-item button:hover {
  background-color: var(--bg);
  color: var(--text);
}

.art-list-item p {
  font-size: 8rem;
}

.profile-picture img {
  max-width: 25vw;
  border-radius: 16px;
}

.edit-profile-block {
  margin-bottom: 4vh;
  margin-top: -8vh;
}

.edit-profile-block h2 {
  margin-top: 3.5vh;
}

.edit-profile-picture {
  margin-bottom: 4vh;
  margin-top: 4vh;
}

.edit-profile-picture img {
  max-width: 40vw;
  height: auto;
  border-radius: 16px;
  margin-bottom: 0;
}

.edit-profile {
  margin-top: 1.5vh;
}

.tune i {
  font-size: 140px;
  color: var(--accent-color);
}

.tune {
  margin-top: 3vh;
  max-width: 640px;
}

/* Animation profile */

.error-smiley h1 {
  font-size: 300px;
}

/* Navbar */

nav {
  border-bottom: 1px solid var(--accent-color);
  background: rgb(0, 150, 184);
  background: linear-gradient(
    -90deg,
    rgba(0, 150, 184, 1) 0%,
    rgba(0, 102, 125, 1) 100%
  );
  width: 100%;
  padding-block: 2px;
}

nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.25rem;
}

nav ul li {
  list-style-type: none;
  text-decoration: none;
}

nav a {
  display: flex;
}

nav a::after {
  content: "";
  width: 100%;
  height: 30px;
}

.logo {
  background: url(/images/svg/duga-logo.svg) no-repeat top left;
  background-size: contain;
  width: 130px;
  height: 30px;
}

.profile {
  background: url(/images/svg/profile.svg) no-repeat top left;
  background-size: contain;
  width: 30px;
  height: 30px;
}

/* Content */
.container {
  width: 100%;
  background: var(--bg-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - 72px);
  padding-inline: 1rem;
  overflow-y: hidden;
  padding-block-end: 3rem;
}

.container--full {
  height: 100dvh;
}

.container--splash {
  height: 100dvh;
  background: rgb(0, 62, 76);
  background: linear-gradient(
    180deg,
    rgba(0, 62, 76, 1) 25%,
    rgba(0, 121, 148, 1) 70%
  );
}

.wrapper {
  padding-block: 1rem;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  overflow-y: hidden;
  width: 100%;
}

.album-wrapper {
  padding-inline: 3rem;
}

.artwork-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: rgb(45, 45, 45);
  display: flex;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
}

.artwork {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 0.5rem;
  max-width: 440px;
  gap: 0.375rem;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120% !important;
}

.subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 120% !important;
}

.swipper-wrapper {
  display: flex;
  justify-content: space-between;
  padding-block: 1.5rem;
  padding-inline: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.buttons-wrapper {
  max-width: 440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-accept {
  background: url(/images/svg/accept.svg) no-repeat top left;
  background-size: contain;
  width: 4rem;
  height: 4rem;
}

.btn-cancel {
  background: url(/images/svg/cancel.svg) no-repeat top left;
  background-size: contain;
  width: 4rem;
  height: 4rem;
}

/* audio player */
.player {
  width: 100%;
  padding-inline: 1rem;
  padding-block-start: 1rem;
}

audio::-webkit-media-controls-panel {
  background-color: var(--surface);
}

audio::-webkit-media-controls-timeline-container {
  display: none;
}
audio::-webkit-media-controls-time-remaining-display {
  display: none;
}

.playing {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.close {
  position: absolute;
  right: 1rem;
  top: 5.5rem;
}

.close img {
  width: 24px;
}

.logout {
  display: inline-flex;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  color: #00667d;
  margin-block-start: 2rem;
}

.wrapper--splash {
  height: 360px;
  justify-content: space-between;
  margin-block-end: 6rem;
}

.logo-splash {
  max-width: 276px;
}

.splash-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.splash-spotify {
  position: absolute;
  bottom: 2rem;
}

.btn-wrapper {
  margin-block-start: 2rem;
}
